.intro-wrap {}
.intro-wrap .intro-title {
  font-size: 24px;
  font-weight: 500;
  color: var(--black);
  text-align: center;
  margin-bottom: 94px;
}
.intro-wrap .intro-sub {
  margin-bottom: 16px;
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: var(--black);
  text-align: center;
}
.intro-wrap .intro-section {
  padding: 100px 0;
}
.intro-wrap .intro-section:not(:last-of-type) {
  border-bottom: 1px solid var(--gray0);
}
.intro-wrap .intro-section .intro-top {
  align-items: flex-start;
  gap: 83px;
}
.intro-wrap .intro-section-left .img1 {
  width: 492px;
}
.intro-wrap .intro-section-right {
  padding: 26px 0 0;
}
.intro-wrap .intro-section-right p:first-child {
  margin-bottom: 16px;
}
.intro-wrap .intro-section-right .intro-title {
  text-align: left;
  color: var(--black);
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 24px;
}
.intro-eng-title {
  display: block;
  font-size: 36px;
  font-weight: 400;
  color: var(--black);
  margin-bottom: 8px;
}
.intro-wrap .intro-section-right p {
  font-size: 14px;
  line-height: 1.7;
  color: #7e7e7e;
}
.intro-wrap .intro-section .logo-state-img {
  width: 100%;
}
.intro-wrap .intro-section .intro-section-btm-text {
  width: 758px;
  margin: 0 auto 0;
}
.intro-wrap .intro-section .intro-section-btm-text img {
  width: 554px;
  display: block;
  margin: 0 auto;
}
.intro-wrap .intro-section .intro-menu {
  position: relative;
}
.intro-wrap .intro-section .intro-menu-state {
  position: absolute;
  top: -78px;
  right: 0;
  width: 676px;
  gap: 18px;
}
.intro-wrap .intro-section .intro-menu-state li {
  width: 25%;
  height: 150px;
  border-radius: 10px;
}
.intro-wrap .intro-section .intro-menu-state li:first-child {
  background-color: var(--white);
}
.intro-wrap .intro-section .intro-menu-state li:nth-child(2) {
  background-color: #f5f5f5;
}
.intro-wrap .intro-section .intro-menu-state li:nth-child(3) {
  background-color: var(--secondary);
}
.intro-wrap .intro-section .intro-menu-state li {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 4px 5px rgba(0,0,0,.05);
}
.intro-wrap .intro-section .intro-menu-state li img {
  width: 36px;
  height: 36px;
  margin: 0 auto 16px;
  display: block;
}
.intro-wrap .intro-section .intro-menu-state li span {
  display: block;
  text-align: center;
  font-weight: 400;
}
.intro-wrap .intro-section .intro-menu-state li .menu-name {
  margin-bottom: 8px;
  font-size: 14px;
  color: var(--white);
}
.intro-wrap .intro-section .intro-menu-state li:nth-child(-n+2) .menu-name {
  color: var(--black);
}
.intro-wrap .intro-section .intro-menu-state li .menu-eng {
  color: #F1FF98;
  font-size: 10px;
}
.intro-wrap .intro-section .intro-menu-state li:nth-child(-n+2) .menu-eng {
  color: var(--secondary);
}
.intro-wrap .intro-section .intro-btm {
  margin-top: 150px;
  width: 900px;
  word-break: keep-all
}
.intro-wrap .intro-section .intro-btm .intro-eng-title{
  margin-bottom: 26px;
}
.intro-wrap .intro-section .intro-btm p {
  font-size: 14px;
  color: #7e7e7e;
  line-height: 1.7;
}
.intro-wrap .intro-section-btm {
  margin: 0 auto;
}
.intro-wrap .intro-section-btm .inner {
  width: 674px;
}
.intro-wrap .intro-section-btm .intro-title {
  margin-bottom: 40px;
}
.intro-wrap .intro-section-btm p {
  margin-bottom: 74px;
  text-align: center;
  color: #7e7e7e;
  font-size: 14px;
  line-height: 1.7;
  word-break: keep-all;
}
.intro-wrap .intro-section-btm img {
  width: 500px;
  display: block;
  margin: 0 auto;
}

.intro-wrap .intro-section .section-text-sub {
  margin-top: 46px;
  text-align: center;
  display: block;
}
.intro-wrap .intro-section .logo-down-btns {
  margin-top: 66px;
  gap: 20px;
}
.intro-wrap .intro-section .logo-down-btns a {
  width: 200px;
  line-height: 38px;
}

/* ACCODION */
.panel-question {
  margin-bottom: 20px;
  background-color: #fff;
}

.panel-heading {
  font-weight: bold;
  padding: 5px;
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
}

.panel-body {
  padding: 15px;
  line-height: 1.5;
  font-size: 16px;
}

#btn-collapse {
  margin-bottom: 10px;
  background-color: #999;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  float: right;
}
